[Desktop Entry]
Name=Catfish File Search
GenericName=File search
Comment=Search the file system
Keywords=files;find;locate;lookup;search;
Categories=GNOME;GTK;Utility;
Exec=/usr/bin/catfish %f
Icon=/home/karxlis/Downloads/tttt.png
Terminal=false
Type=Application
MimeType=inode/directory;
StartupWMClass=catfish
X-XFCE-Source=file:///usr/share/applications/org.xfce.Catfish.desktop
Path=
StartupNotify=false
